# Compiled class files
*.class

# Logs
*.log

# Build directories
/target/
/bin/
/out/
postgres-data/

# IDEs
.idea/
*.iml
.project
.classpath
.settings/
.vscode/

# Dependencies
/lib/
/*.jar
/*.war
/*.ear

# Configurações Sensíveis
*.env
*.key
*.p12
